Go to an online RSA key generator ex: http://travistidwell.com/jsencrypt/demo/

Paste the generated key to include the "Begin Key" and "End Key" for the public generated key here. Remove the .example ending from the file name (file should be public.key)