Go to an online RSA key generator ex: http://travistidwell.com/jsencrypt/demo/

Paste the generated key to include the "Begin Key" and "End Key" for the private generated key here. Remove .example from ending of file name. File should be (private.key)